.vscode/
__pycache__/
*.pyc
*.DS_Store
*.swp
*.pth
tmp.*
*/.ipynb_checkpoints/*

logs/
weights/
dump/
demo/*.mp4
demo/demo_images/
src/loftr/utils/superglue.py
demo/utils.py

notebooks/QccDayNight.ipynb
notebooks/westlake.ipynb
assets/westlake
assets/qcc_pairs.txt
configs/.petrel*
tools/draw_QccDayNights.py

scripts/slurm/
scripts/sbatch_submit.sh
src/utils/client.py

results/*
data/*
test_results/*
!data/CF_OCTA_v2_repaired/cf_octa_v2_repaired_dataset.py
!data/FIVES_extract_v2/FIVES_extract_v2.py
!data/operation_pre_filtered_cffa/operation_pre_filtered_cffa_dataset.py
!data/operation_pre_filtered_cfoct/operation_pre_filtered_cfoct_dataset.py
!data/operation_pre_filtered_octfa/operation_pre_filtered_octfa_dataset.py